@model IEnumerable<Web.Models.PeliculasModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>           
            <th>
                Categoria
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActorPrincipal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActorPrincipal2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActorSecundario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActorSecundario2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdImdb)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Portada)
            </th>          
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>            
            <td>
                @Html.DisplayFor(modelItem => item.Categoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActorPrincipal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActorPrincipal2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActorSecundario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActorSecundario2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdImdb)
            </td>
            <td>
                <img src=" @Html.DisplayFor(modelItem => item.Portada)"/> 
            </td>            
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
